.containerTableCaseRegister {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
}

.tableCaseRegister {
    width: 90vw;
}

.theadCaseRegister {
    height: 8vh;
    color: #fff;

}

.theadCaseRegister,
.trBodyCaseRegister {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: var(--principal);
    align-items: center;
    justify-items: center;
}

.trBodyCaseRegister div {
    height: 8VH;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tbodycaseRegister {
    min-height: 70;
    max-height: 75vh;
    overflow: auto;
}

.claro {
    background-color: #f1f1f1;
}

.oscuro {
    background-color: #fff;
}

.atiempo,
.demorado,
.preparado,
.enviado,
.cancelado,
.preparacion,
.entregado,
.espera {
    border-radius: .6rem;
    padding: .3rem;
    font-size: 1vw;
    width: 8vw;
    text-align: center;
    font-weight: 600;
}

.pendiente {
    background-color: #f9d9ca;
    color: #ff5722;
}

.preparacion {
    background-color: #ffe1cc;
    color: #ff9800;
}

.enviado {
    background-color: #e8e8f4;
    color: #303f9f;
}

.espera,
.cocina {
    background-color: #cdd;
    color: #4b4b4b;
}

.entregado {
    background-color: #d3f0d6;
    color: #4caf50;
}

.cancelado {
    background-color: #f7b8b8;
    color: #f00;
}