.container__ButtonsTableCaseRegister {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__ButtonsTableCaseRegister button {
    width: 7vw;
    height: 5vh;
    color: #fff;
    border: none;
    border-radius: .4rem;
    transition: .2s ease;
}



.btn__actionCaseRegister__viewDetailButton,
.btn__actionCaseRegister__viewFactureButton {
    background-color: #4fb3f5;
}

.btn__actionCaseRegister__sendToKitchen {
    background-color: #FF7700;
}

.btn__actionCaseRegister__payOrder {
    background-color: #000;
}

.btn__actionCaseRegister__deliverOrder {
    background-color: #000;
}

.btn__actionCaseRegister__cancelOrder {
    background-color: #f00
}
.btn__actionCaseRegister__viewDetailButton:hover,
.btn__actionCaseRegister__viewFactureButton:hover,
.btn__actionCaseRegister__sendToKitchen:hover,
.btn__actionCaseRegister__payOrder:hover,
.btn__actionCaseRegister__deliverOrder:hover,
.btn__actionCaseRegister__cancelOrder:hover{
    opacity: .8;
}

.disabled {
    background-color: #ccc;
}
.disabled:hover{
    cursor:auto;
}