.containerLayoutModal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px) brightness(.8);
    position: absolute;
    top: 0;
    left: 0;

}

.containerChildrensLayoutModal {
    width: 50vw;
    height: 50vh;
    background-color: #fff;
    border-radius: .4rem;

}