/*ESTILO 6 TABLA*/
.containerTablegeneric {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.tbl-st6 {
  align-items: center;
  border: 1px solid #000;
  border-radius: .4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;

  /*    table-layout: fixed;*/
}

.tbl-st6>thead {
  background-color: var(--principal);
  color: #ffffff;
  display: block;
  width: 100%;

}

.tbl-st6>tbody {
  display: flex;
  flex-direction: column;
  max-height: 60vh;
  overflow-y: auto;
  width: 100%;
}

.tbl-st6>thead>tr {
  display: flex;
  gap: 1vh;
}

.tbl-st6>tbody>tr {
  align-items: center;
  display: flex;
  gap: 1vh;
  justify-content: center;
}

.tbl-st6>thead>tr>th {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  justify-content: center;
  padding: 1rem;
  width: 100%;


}

.tbl-st6>tbody>tr>td {
  align-items: center;
  display: flex;


  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.tbl-st6>tbody>tr:nth-child(2n+1) {
  background-color: lightgray;
  color: #000000;
}