.containerPrincipalButtonsPaginationStore{
  align-items: center;
  display: flex;
  height: 10vh;
  justify-content: center;
  width: 100%;
}
.page-item {
  display: inline-block;
  margin-bottom: 0.25rem;
}

.page-link {
  background-color: #fff;
  border: 1px solid #72767b;
  border-radius: .4rem;
  color: var(--principal);
  display: block;
  line-height: 1.25;
  margin-left: -1px;
  padding: 0.5rem 0.75rem;
}

.page-link:hover {
  background-color: #e9ecef;
  border-color: #dee2e6;

  color: var(--principal);;
  text-decoration: none;
}

.page-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  outline: none;
}

.page-item.disabled .page-link {
  background-color: #fff;
  border-color: #dee2e6;
  color: #6c757d;
  pointer-events: none;
}

.page-item.active .page-link {
  background-color: var(--terciario);;
  border-color: var(--principal);;
  color: #fff;
}