.containerCategoriList {
  align-items: start;
  background-color: var(--backgroundSecundario);
  display: flex;
  flex-direction: column;
  height:15vh;
  justify-content: center;
  width: 100vw;
}

.category_list {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
}