.category-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    align-items: center;

}

.circunferencia {
    width: 3.1rem;
    height: 3.1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
}
.category-icon img,
.fa-icon {
    width: 4vh;
    height: 4vh;
    color: #fff;
}

.nameCategory {
    font-size: 2vh;
    color: var(--principal);
    font-weight: bold;
}