.category-icon {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10%;

}

.circunferencia {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 3.1rem;
    justify-content: center;
    padding: 1vh;
    width: 3.1rem;
}
.category-icon img,
.fa-icon {
    color: #fff;
    height: 4vh;
    width: 4vh;
}

.nameCategory {
    color: var(--principal);
    font-size: 2vh;
    font-weight: bold;
}