.containerCategoriList {
  background-color: var(--backgroundSecundario);
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-direction: column;
  width: 100vw;
  height:15vh;
}

.category_list {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}