.containerPrincipalNavBarMobile{
    width: 100vw;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0vh;
}

.navBarMobile__containerPrincipal {
    background-color: #3f4043;
    height: 10vh;
    width: 100vw;
}

.navBarMobile__contaierItems {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-around;
    width: 100%;

}

.navBarCarItemActive,
.navBarCarItem {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navBarCarItem {
    color: #fff;
}
.navBarCarItemActive{
    color: #f9af57;
}
@media only screen and (min-width: 576px) {
.mobile{
    display: none;
}
}