.containerTablegeneric {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 80vw;
}

thead {
  background-color: #BCC1CA;
}



th,
td {
  border: 1px solid black;
  text-align: center;
}