.containerDeliverOrderMOdal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.buttonEntregaEnLocal {
    width: 25vw !important;
    background-color: var(--principal);
}

.containerEscogeDelivery {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 20vh;
}

.containerEscogeDelivery select {
    width: 25vw;
    height: 5vh;
    text-align: center;
}

.containerConfirmDelivery button {
    background-color: #4fb3f5;
    width: 25vw !important;
}

.containerCloseMOdalDeliverty button {
    width: 25vw !important;
    background-color: red;
}

.containerSleectDelivery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.containerSelect {
    width: 100%;
    display: flex;
    justify-content: center;
}

.containerSelect select {
    width: 80%;
    height: 5vh;
    border-radius: .4rem;
}

.containerButtonsSelectDelivery {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.containerButtonsSelectDelivery button {
    cursor: pointer;
}

.confirm {
    background-color: green;
}

.cancel {
    background-color: red;
}

.containerSleectDelivery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 50%;
}

.containerSelect {
    width: 100%;
    display: flex;
    justify-content: center;
}

.containerSelect select {
    width: 80%;
    height: 5vh;
    border-radius: .4rem;
}

.containerButtonsSelectDelivery {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.containerButtonsSelectDelivery button {
    cursor: pointer;
}