.containerDeliverOrderMOdal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.buttonEntregaEnLocal {
    width: 25vw !important;
    background-color: var(--principal);
}

.containerEscogeDelivery {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 20vh;
}

.containerEscogeDelivery select {
    width: 25vw;
    height: 5vh;
    text-align: center;
}

.containerConfirmDelivery button {
    background-color: #4fb3f5;
    width: 25vw !important;
}

.containerCloseMOdalDeliverty button {
    width: 25vw !important;
    background-color: var(--terciario);
}